.user-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;
  border: 3px solid blue;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 30px;
}

.name-input {
  margin: 10px 0;
  border: 2px solid black;
  margin-bottom: -5px;
}

.difficulty-dropdown {
  margin-bottom: 10px;
  border: 2px solid black;
}

.category-dropdown {
  margin-bottom: 10px;
  border: 2px solid black;
}

.user-submit {
  width: 25%;
  margin: 0 auto;
  margin-top: 10px;
}

.user-submit:hover {
  background-color: white;
  color: blue;
  border: 3px solid blue;
  box-shadow: 1px 1px 2px black;
  /* margin-bottom: 10px; */
}
